<div class="row mt-3 separateFooter">

    <div class="col-4 d-none d-md-block">
        <img class="ml-5" src="../../assets/image/imagen4.jpg" alt="" width="250">
    </div>

    <div class="col-md-8">
        <ng-container *ngIf="vez%2==0">

            <div class="text-center">
                <img class="error" src="../../assets/image/404.png" alt="">
            </div>
            <div class="text-center">
                <h3> 🍻Ahora mismo estamos de fiesta🍻 </h3>
                <p>No encontramos lo que estas buscando ... 😉
                </p>
            </div>
        </ng-container>
        <ng-container *ngIf="vez%2!=0">
            <div class="text-center">
                <img class="error" src="../../assets/image/404.png" alt="">
            </div>
            <div class="text-center">
                <h3> 🍻 ¡MARIO! 🍻 </h3>
                <p>Pero si ésto LO VIMOS AYER 😉
                </p>
            </div>
        </ng-container>

        <div class="text-center">
            <h5 class="mt-5">Dirígete a: </h5>
            <button class="btn botones w-50 m-2" routerLink="/blog">Blog</button>
            <button class="btn botones w-50 m-2" routerLink="/new">Formulario</button>
        </div>
    </div>





</div>