<div class="row">
  <div class="container">
    <div class="col-12">
      <h1 class="text-center" id="titulo">
        <img class="mt-1" src="../assets/image/imagen3.jpg" alt="" width="75">
        Blog de Política</h1>

    </div>
  </div>
</div>

<div class="row">

  <nav class="col-12 p-3 mb-3">
    <div class="container">
      <a class="col-2 ml-5 enlace" href="blog">Blog</a>
      <a class="col-2 ml-3 enlace" href="new">Formulario</a>

    </div>
  </nav>
</div>




<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="fixed-bottom">
  <div class="container">
    <p class="text-light mt-3"> Blog de Política, 2020. Creado por Alice López &copy;</p>

  </div>
</footer>