@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

#titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin: 0;
}


nav{
    background: #7C160C;
}

footer{
    background: #7C160C;
   
}


.enlace{
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    padding: 15px;
}

.enlace:hover{
    background: white;
    color: #7C160C;
    padding: 15px;
}
