@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

#titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin: 0;
}

small{
    font-size: 20px;
}

nav{
    background: #7C160C;
}

footer{
    background: #7C160C;
   
}

