<div class="row">
    <div class="col-12">
        <h2 class="text-center tituloblog">Nuestros posts </h2>
        <p>Aquí encontraras los posts que comparten los miembros de nuestra comunidad de estudio. Recuerda que si
            quieres hacer uso de la información debes citar al autor.</p>
    </div>
</div>

<div class="row mt-3">

    <aside class="col-md-4 d-flex">
        <div class="mx-auto w-100">
            <p>Mira nuestros posts 📜</p>
            <button class="d-block btn btn-outline-dark mb-2 w-100" value="todos" (click)="onChangeCategory($event)">
                🤩 Todos
            </button>
            <button class="d-block btn btn-outline-info mb-2 w-100" value="cultura" (click)="onChangeCategory($event)">
                🎨
                Cultura
            </button>
            <button class="d-block btn btn-outline-success mb-2 w-100" value="politica"
                (click)="onChangeCategory($event)"> 🗣
                Política
            </button>
            <button class="d-block btn btn-outline-warning mb-2 w-100" value="economia"
                (click)="onChangeCategory($event)"> 💰
                Economía
            </button>
            <button class="d-block btn btn-outline-danger mb-2 w-100" value="historia"
                (click)="onChangeCategory($event)"> 👣
                Historia
            </button>
            <br>

            <label> Categorias 🎨 🗣 💰 👣</label>
            <select (change)="onChangeCategory($event)" class="form-control w-100">

                <option value="todos">🤩 Todos</option>
                <option value="cultura"> 🎨 Cultura</option>
                <option value="politica"> 🗣 Política</option>
                <option value="economia"> 💰 Economía</option>
                <option value="historia"> 👣 Historia</option>

            </select>

            <img src="../../assets/image/imagen2.jpg" alt="" width="200" class="mb-5 ml-2 mt-2 d-none d-md-block">

        </div>


    </aside>

    <div class="col-md-8">
        <div class="row">

            <div class="col-md-4 mb-3 mt-2" *ngFor="let post of arrPosts; let indice = index">
                <div class="card d-flex mx-auto h-100" [routerLink]="['/blog', post.id]"
                    [ngClass]="{cultura: (post.categoria === 'cultura'), politica: (post.categoria === 'politica'), economia:(post.categoria === 'economia'), historia: (post.categoria ==='historia')}">
                    <p class="ml-2 mb-0">{{post.categoria | uppercase}}</p>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <img [src]=" post.imagen" class="card-img-top" alt="" style="max-height: 100px;
                        ">
                        <div>
                            <h5 class="card-title">{{post.titulo}}</h5>
                            <h6 class="text-right"> 📝 {{post.autor}}</h6>
                            <!--  <p class="card-text"> {{post.texto}}</p> -->
                            <p style="font-size: 0.85rem;" class="card-text text-secondary">Palabras claves:
                                {{post.claves}}</p>
                            <small>Publicado: {{post.fecha}}</small>
                        </div>
                        <button class="btn btn-outline-danger form-control" (click)="onClickDelete(indice)">
                            Borrar
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12 separateFooter mt-3">
            <p class="text-secondary"> * Todos los posts son bienvenidos en este blog, siempre y cuando respetes
                la
                opinión de
                terceros, seas respetuoso y tu post no dañe a terceros. Para ello intentamos revisar cada uno
                de los posts, tardamos pero todos son revisadas. </p>
        </div>
    </div>

</div>