.cultura {
    border: 1px solid rgb(22, 117, 218);
}

.politica{
border: 1px solid green;
}

.economia{
    border: 1px solid yellow;
}

.historia{
    border: 1px solid red;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.tituloblog{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin: 0;

}