<div class="row">


    <aside class="col-4">

        <p>Leer ...</p>
        <button class="d-block btn btn-outline-info m-2 ml-5 w-50" value="cultura" (click)="onClickCultura()"> 🎨
            Cultura
        </button>
        <button class="d-block btn btn-outline-success m-2 ml-5 w-50" value="politica" (click)="onClickPolitica()"> 🗣
            Política
        </button>
        <button class="d-block btn btn-outline-warning m-2 ml-5 w-50" value="economia" (click)="onClickEconomia()"> 💰
            Economía
        </button>
        <button class="d-block btn btn-outline-danger m-2 ml-5 w-50" value="historia" (click)="onClickHistoria()"> 👣
            Historia
        </button>
        <br>

        <label> Filtrar Categoria</label>
        <select (change)="onChangeCategory($event)" class="form-control w-50 ml-5">

            <option value="todos">Todos</option>
            <option value="cultura"> 🎨 Cultura</option>
            <option value="politica"> 🗣 Política</option>
            <option value="economia"> 💰 Economía</option>
            <option value="historia"> 👣 Historia</option>

        </select>

    </aside>

    <div class="col-7">

        <div *ngFor="let post of arrPosts; let indice = index">
            <h3>{{post.titulo}}</h3>
            <h4>{{post.autor}}</h4>
            <img [src]="post.imagen" alt="" width="100">
            <p>{{post.texto}}</p>
            <span>{{post.fecha}}</span>
            <p>{{post.categoria}}</p>

            <button (click)="onClickDelete(indice)">Borrar </button>
        </div>
    </div>
</div>