<aside>

    <label> Filtrar Categoria</label>
    <select (change)="onChangeCategory($event)" class="form-control">

        <option value="todos">Todos</option>
        <option value="cultura">Cultura</option>
        <option value="politica">Política</option>
        <option value="economia">Economía</option>
        <option value="historia">Historia</option>

    </select>


    <p>Leer ...</p>
    <button value="cultura" (click)="onClickCultura($event)"> Cultura </button>
    <button value="politica" (click)="onClickPolitica()"> Política </button>
    <button value="economia" (click)="onClickEconomia()"> Economía </button>
    <button value="historia" (click)="onClickHistoria()"> Historia </button>

</aside>



<div *ngFor="let post of arrPosts; let indice = index">
    <h3>{{post.titulo}}</h3>
    <h4>{{post.autor}}</h4>
    <img [src]="post.imagen" alt="">
    <p>{{post.texto}}</p>
    <span>{{post.fecha}}</span>
    <p>{{post.categoria}}</p>

    <button (click)="onClickDelete(indice)">Borrar </button>
</div>